.container-fluid {
	padding: 0;
}

/* NavBar */

.navbar {
	border-bottom: 1px solid #dadada;
	margin-bottom: 20px;
	padding-right: 10px;
}

.navbar-nav {
	margin: auto;
	padding-right: 64.64px;
}

.navbar-brand {
	padding-left: 20px;
	margin: 0;
	font-weight: bold;
}

.navbar-light .navbar-nav a.nav-link {
	color: #333;
	letter-spacing: 1px;
}

.nav-item {
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;

}

.nav-link:hover {
	background-color: #dbdbdb;
	border-radius: 5px;
}


/* Botão de adicionar */

#add-task {
	text-decoration: none;
}

.add-div {
	background-color: #5C82F2;
	cursor: pointer;
	color: white;
	padding: 8px;
	height: 40px;
	width: 150px;
	border-radius: 5px;
	margin-right: 25px ;
}

.fas.fa-plus {
	color: #f5f5f5;
	margin-right: 10px;
	margin-left: 5px;
}

/* Search */

.form-control {
	border-right: none;
	border-radius: 10px 0px 0px 10px ;
}

.add-search {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#search-icon {
	padding: 10px;
	border: 1px solid rgb(218, 218, 218);
	border-radius: 0px 10px 10px 0px ;
	border-left: none;
}

#search-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.fas.fa-search {
	padding-left: 10px;
}

.search-div {
	padding: 0px;
	margin-top: 15px;
	margin-bottom: 15px;
}

/* Lista de tarefas */

.list-div {
	padding: 0;
}

.task-list {
	padding-left: 0;
}

.task-item {
	list-style: none;
	font-size: 20px;
	height: 50px;
	padding-top: 10px;
	border-bottom: 1px dashed #ccc;
}

.fas.fa-trash,
.fas.fa-edit {
	cursor: pointer;
	margin: 5px;
	font-size: 20px;
	float: right;
}

.fas.fa-trash {
	color: #D94A4A;
}

.fas.fa-edit {
	color: #0DA68A;
}

/* Messages */

ul.messages {
	padding: 0;
}

ul.messages li {
	list-style: none ;
}

/* Paginação */

.pagination {
	margin-bottom: 20px ;
}

.step-links {
	position: relative;
	margin-left: auto ;
	margin-right: auto ;
}

/* Footer */

footer {
	background-color: #333;
	height: 300px;
	border-top: 2px solid #111;
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
	height: 200px;
}

.footer-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 30px;
	gap: 10px;
}

footer p { 
	max-width: 600px;
	color: #a0a0a0;
	text-align: center;
	top: 30%;
	position: relative;
}

h3 {
	color: #f5f5f5;
	text-align: center;
	top: 50%;
}

.sociais {
	display: flex;
	flex-direction: row;
	gap: 40px;
}

#gmail,
#linkedin,
#github {
	font-size: 14pt;
	color: white;
}

.fa:hover ,
#gmail:hover ,
#linkedin:hover ,
#github:hover {
	color: gray;
}

.offset-1 {
	padding-top: 30px;
}