.container-fluid {
    padding: 0;
}


/* NavBar */

.navbar {
	border-bottom: 1px solid #dadada;
	margin-bottom: 20px;
	padding-right: 10px;
}

.navbar-nav {
	margin: auto;
	padding-right: 74.64px;
}

.navbar-brand {
	padding-left: 20px;
	margin: 0;
	font-weight: bold;
}

.navbar-light .navbar-nav a.nav-link {
	color: #333;
	letter-spacing: 1px;
}

.nav-item {
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;

}

.nav-link:hover {
	background-color: #dbdbdb;
	border-radius: 5px;
}


/* Dashboard */

.dashboard {
	padding-bottom: 20px;
	width: 100%;
	display: block;

}

.dashboard h4 {
	font-size: 20px;
}

.dashboard span {
	font-size: 40px;
	display: block;
	width: 100%;
}

.dashboard-box {
	float: left;
	background-color: #DFDFDF;
	color: #FFF;
	padding: 20px ;
	box-sizing: border-box;
	height: 130px;
	width: 32%;
	text-align: center;
	border-radius: 20px;
} 

.dashboard-box:nth-child(2){
	margin-left: 1.5%;
	margin-right: 1.5%;
}

#dashboard-lastdays{ 
	background-color: #00aaff;
}
#dashboard-done{ 
	background-color: #1EC75F;
}
#dashboard-doing{ 
	background-color: #db1e47;
}

/* Botão de adicionar */

#add-link {
    text-decoration: none;
}

.add-div {
	padding-top: 10px;
    background-color: #00aaff;
    cursor: pointer;
    display: inline-block;
    color: #FFF;
    padding: 8px;
	max-width: 180px;
	min-width: 80px;
    border-radius: 5px;
    margin-right: 25px;
}

.add-div:hover {
	background-color: #008acf;
}

.fas.fa-plus {
    color: #FFF;
    margin-right: 10px;
    margin-left: 5px;
}

/* Search */

.fas.fa-search {
    top: 12px;
    right: 26px;
    cursor: pointer;
}

.search-div {
    padding: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
}

#search {
	border-right: none;
	width: 300px;
	border-radius: 10px 0px 0px 10px ;
}

#search-form {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#search-btn {
	padding: 10px;
	border: 1px solid rgb(218, 218, 218);
	border-radius: 0px 10px 10px 0px ;
	border-left: none;
}

/* Lista de tarefas */

.list-div {
    padding: 0;
}

.task-list {
    padding-left: 0;
}

.task-item {
    list-style: none;
    font-size: 20px;
    height: 50px;
	padding: 0 12px;
    padding-top: 10px;
    border-bottom: 1px dashed #CCC;
}

.task-item.done {
    background-color: #ccc;
}

.link-task.done {
	color: #888888;
}

.fas.fa-trash,
.fas.fa-square-pen,
.fas.fa-circle-check {
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    float: right;
}

.fas.fa-circle-check {
	background-color: #ffffff;
	border-radius: 20px;
}

.fas.fa-trash {
	color: #db1e47;
}
.fas.fa-trash:hover {
	color: #b31a3b;
}
.fas.fa-trash.done {
	color: #acacac;
}
.fas.fa-trash.done:hover {
	color: #929292;
}

.fas.fa-square-pen {
    color: #00aaff;
}
.fas.fa-square-pen:hover {
    color: #038ed4;
}
.fas.fa-square-pen.done {
    color: #acacac;
}
.fas.fa-square-pen.done:hover {
    color: #929292;
}


.fas.fa-circle-check {
	color: #acacac;
}
.fas.fa-circle-check:hover {
	color: #929292;
}
.done .fas.fa-circle-check {
	color: #1EC75F;
}
.done .fas.fa-circle-check:hover {
	color: #18a84f;
}

/* Paginação */

.pagination {
	margin-bottom: 20px ;
}

.step-links {
	position: relative;
	margin-left: auto ;
	margin-right: auto ;
}

/* adicionar task */

.offset-1 {
	padding-top: 30px;
	display: flex;
	flex-direction: column;
}

.offset-1 h1 {
	text-align: center;
	padding-bottom: 10px;
	color: #008acf;
}

.newtask-form {
	display: flex;
	flex-direction: column;
	width: 400px;
	padding-top: 10px;
	gap: 20px;
	align-items:flex-start;
	float: left;
}

#id_title {
	width: 315px;
}

.newtask-form textarea {
	height: 100px;
}

#id_title, textarea {
	border: 1px solid #dbdbdb;
	border-radius: 5px;
}

.form-area-image {
	display: flex;
	gap: 40px;
	align-items: center;
	justify-content: center;
}

.btn-success {
	background-color: #00aaff;
	border: none;
}

.btn-success:hover {
	background-color: #008acf;
}

.title-new-task {
	font-size: 19pt;
}

.illustration {
	width: 500px;
}

/* Login */

.row {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	width: 100%;
	padding-top: 50px;
}

.form-structure {
	display: flex;
	flex-direction: column;
}

.auth-card {
	-webkit-box-shadow: 0px 0px 41px -19px rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 0px 41px -19px rgba(0,0,0,0.55);
	box-shadow: 0px 0px 41px -19px rgba(0,0,0,0.55);
	border-radius: 20px;
	max-width: 300px;
	padding: 20px;
	border: none; 
}

.btn {
	background-color: #00aaff;
	border: none;
}

.btn:hover {
	background-color: #008acf;
}

#error_1_id_username {
	margin: 0px;
	border: 0px;
	padding: 0px;
}

/* Register/Login */

.change-form-p {
	text-align: center;
	margin-top: 30px;
}

/* Footer */

footer {
	background-color: black; 
	width: 100%; 
	height: 200px;
	bottom: 0;
	position: absolute;
	top:98%;
	padding-top: 200px;
}

.addsearch {
	width: 100%;
	height: 20px;
}