.container-fluid {
	padding: 0;
}

/* NavBar */

.navbar {
	border-bottom: 1px solid #333;
	margin-bottom: 20px;
	padding-right: 10px;
}

.navbar-nav {
	margin: auto;
	padding-right: 64.64px;
}

.navbar-brand {
	padding-left: 20px;
	margin: 0;
	font-weight: bold;
}

.navbar-light .navbar-nav a.nav-link {
	color: #333;
	letter-spacing: 1px;
}
