{% extends 'base.html' %}

{% block title %}Registrar no To Do{% endblock %}

{% load crispy_forms_tags %}

{% block content %}				
<div class="row">
	<div class="card auth-card">
		<h4 class="card-title text-center">Bem-vindo!</h4>
		<form method="POST" class="form-structure">
			{% csrf_token %}
			<input type="hidden">
			{{ form|crispy }}
			<button type="submit" class="btn btn-primary btn-block">Entrar</button>
		</form>
		
		<p class="change-form-p">Já tem uma conta?
			<a href="/accounts/register">Clique aqui</a>
		</p>
	</div>
</div>

{% endblock %}

