{% extends 'base.html' %}

{% block title %}Adicione uma tarefa{% endblock %}

{% block content %}
<div class="offset-1 col-10 list-div">
	<div class="form-area-image">
		<form method="POST" class="newtask-form">
			{% csrf_token %}
			<h4 class="title-new-task">Adicione a sua nova tarefa:</h4>
			
			<input type="hidden" name="csrfmiddlewaretoken" value="OHkSVCU1kXtHGfmD13F0sqeaZLe3kJRYosP7jVeFgS9FKEl3EXOJwuXKzbnFTSwB">
			
			<input placeholder="Titulo" type="text" name="title" maxlength="255" required="" id="id_title">		

			<textarea placeholder="Descrição" name="description" cols="40" rows="10" required="" id="id_description"></textarea>

			<input type="submit" class="btn btn-success" value="Criar tarefa"> 
		</form>
		<img  class="illustration" src="https://img.freepik.com/free-vector/list-concept-illustration_114360-1320.jpg?w=826&t=st=1677261933~exp=1677262533~hmac=4fed444de8da7d78f2e22930b0aa14ee0aff2d7eb962bcb527aeaa0a20608442"> 
	</div>
</div>
{% endblock %}
